.DS_Store
.sass-cache
*.swp
log
*~
log/
tmp
db/schema.rb
db/development_structure.sql
*.csv
*.xlsx
config/backgroundrb.yml
public/clients
public/system
config/database.yml
coverage
coverage/
dump.rdb
db/*.sqlite3
vendor/plugins/haml/init.rb
public/stylesheets/compiled/*.css

