.box.content
  %h2 Desde o início
  Mineiro de Belo Horizonte, Luciano Rabelo é nascido e criado no tradicional bairro de Santa Tereza. Depois de se encantar com o trabalho de um palhaço malabarista que se apresentava na esquina das ruas Gonçalves Dias com Rua da Bahia, tentou seu primeiro truque com três bolinhas e de lá pra cá não parou mais.
  %br
  %br
  Iniciou sua trajetória em 2001. No principio divida seu tempo entre os estudos do colégio e suas bolinhas. Logo em seguida, começou a se apresentar no mesmo palco que o encantou: as ruas de Belo Horizonte. Daí surgiram os primeiros convites de trabalho. Integrou o grupo "Circo da Meia Noite", fundou a "Cia. Contraposto de Teatro e Circo", foi colaborador do "Encontro Mineiro de Malabaristas", produtor cultural das quatro primeiras edições da "Semana Interplanetária de Palhaços", criou seu número "Tudo se Encaixa" e foi viajar pelo Brasil!
  %br
  %br
  Depois de conhecer Mauro Lauro Paulo, músico-palhaço gaúcho que teve importante influencia nesta história, se mudou para Porto Alegre, onde foi re-batizado como Lumineiro.
  %br
  %br
  Em Porto Alegre produziu o "1º Palco Aberto Porto Alegre", na Usina do Gasômetro, com a presença de grandes artistas da cidade. Produziu o "Circo Circuito B" no CulturaRockClub. Estudou dança contemporânea com o professor Paulo Guimarães (Quasar Cia. de Dança) no Centro MEME.
  %br
  %br
  Viveu intensamente por 1 ano na capital gaúcha, lugar de extrema importância em sua vida e carreira. Mudou-se para São Paulo, onde segue seus estudos e trabalhos com grandes nomes do circo brasileiro. Foi premiado pela Mostra Competitiva Jr. Malabaris com o número "Tudo se Encaixa". Foi convidado para a 25º temporada de apresentações do "Circo Zanni". Participou do "V Festival Mundial de Circo do Brasil", entre outros importantes palcos, picadeiros e praças do Brasil.
  %br
  %br
  Lumineiro adora pão de queijo e
  %i petit gateau
  e curte muito o trabalho de Amedeo Modigliani...
  %br
  %br
  E continua a escrever esta história a cada dia...

