.box.content
  %h2 Apoio cultural
  .sponsors.hide
    - link_to "http://www.jrmalabaris.com.br/", :target => :_blank do
      = image_tag 'jrmalabaris_pb.jpg', :class => 'sponsor', :style => "background: url(images/jrmalabaris.jpg)"
    - link_to "http://www.centromeme.com.br/", :target => :_blank do
      = image_tag 'meme_pb.jpg', :class => 'sponsor', :style => "background: url(images/meme.jpg)"
= javascript_include_tag 'jquery.crossfade.js'
= javascript_include_tag 'sponsors'

