.box.content
  #videos_menu
    %span#show_video_1.selected
      %a{ :href => "videos/1" } Vídeo #1
    %span#show_video_2
      %a{ :href => "videos/2" } Vídeo #2
    %span#show_video_3
      %a{ :href => "videos/3" } Vídeo #3
  .clear
  %br
  .center
    #video_1
      = '<object width="480" height="385"><param name="movie" value="http://www.youtube.com/v/vSc9bWynSzI&hl=pt_BR&fs=1&rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/vSc9bWynSzI&hl=pt_BR&fs=1&rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></embed></object>'
    #video_2.hide
      = '<object width="480" height="385"><param name="movie" value="http://www.youtube.com/v/qK0ga13FG2o&hl=pt_BR&fs=1&rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/qK0ga13FG2o&hl=pt_BR&fs=1&rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></embed></object>'
    #video_3.hide
      = '<object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/xSLzEhP7hJQ&hl=pt_BR&fs=1&rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/xSLzEhP7hJQ&hl=pt_BR&fs=1&rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object>'
%script
  var selected_video = 1
  var video
= javascript_include_tag 'videos'

